/*
 * Bootstrap custom CSS
 */
main>.container {
  padding: 60px 15px 0;
}

/*
 * Custom styles
 */
.navbar-backdrop-blur {
  background-color: rgb(0, 0, 0, .85) !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.banner {
  margin-top: 56px;
  padding: 9em 0 9em 0;
  background-image: url('../img/banner.webp');
  background-size: cover;
  background-position: top;
}
