@import "_variables.scss";
@import "_mixins.scss";
* {

  font-family: 'Quicksand', sans-serif;

}

.caixa-total {

  //comentari 1
  /*comentari 2*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);


  .caixa-gran{

    display: flex;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(14, 1fr);
    height: 600px;

    .caixa-titul {

      align-self: center;
      justify-self: center;
      display: grid;
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 3;
      color: $color3;
      font-style: oblique;
    
    }


    .caixa-usuari {

      display: flex;
      display: grid;
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 5;

      .text {

        align-self: flex-end;
        text-transform: capitalize;
    
      }
    
      .userpass{
    
        height: 60%;
        width: 100%;
        border: 1px solid $color2;    
        box-sizing: border-box;
        padding: 2px;
    
      }

    }

    .caixa-password {

      display: flex;
      display: grid;
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 5;
      grid-row-end: 7;

      .text {

        align-self: flex-end;
        text-transform: capitalize;
    
      }
    
      .userpass{
    
        height: 60%;
        width: 100%;
        border: 1px solid $color2;    
        box-sizing: border-box;
        padding: 2px;
    
      }

    }


    .caixa-botons {

      display: grid;
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 8;
      grid-row-end: 10;




      .botoblau {

        @include hover-boto();
        @include prop-boto();
        background-color: $color3;
        
      }
      
      
      .botoroig {
      
        @include hover-boto();
        @include prop-boto();
        background-color: $color4;
      
    
      }

    }

  }

}

